@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Farhan GitHub - Task # 7 should be done in Azure Board of project "WebApp2-GitHub" by this work</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building KACST Web apps with ASP.NET Core</a>.</p>
</div>
